.password-form {
    max-width: 500px;
}

.right-panel {
    background: white;
    margin-left: 50px;
    padding: 30px;
}
@media only screen and (max-width: 800px) {
    .right-panel {
        margin-left: 5px;
        padding: 5px;
    }
}

.account-list {
    list-style: none;
}

.account-item {
    margin-top: 20px;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
    color: rgba(0,0,0,.65);
 }