<nz-layout>
  <nz-sider [(nzCollapsed)]="isRightPanelCollapsed" style="background:#fff">
    <ul nz-menu [nzInlineCollapsed]="isRightPanelCollapsed" [nzMode]="'inline'" style="height:100%">
      <li nz-menu-item [nzSelected]="true" (click)="setContent('account')">
        <span title><i nz-icon type="user"></i><span class="nav-text">My Account</span></span>
      </li>
      <li nz-menu-item (click)="setContent('password')">
        <span title
          ><i nz-icon type="key" theme="outline"></i><span class="nav-text">Change Password</span></span
        >
      </li>
      <li nz-menu-item (click)="setContent('tools')">
        <span title><i nz-icon type="laptop"></i><span class="nav-text">My Tools</span></span>
      </li>
      <li nz-menu-item (click)="setContent('reviews')">
        <span title><i nz-icon type="read" theme="outline"></i><span class="nav-text">My Reviews</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-panel">
    <nz-content [ngSwitch]="selectedTab">
      <nz-content *ngSwitchCase="'account'">
        <ul class="account-list">
          <li class="account-item"><b>Username</b>: {{ user.username }}</li>
          <li class="account-item"><b>Email</b>: {{ user.email }}</li>
        </ul>
      </nz-content>
      <nz-content *ngSwitchCase="'password'">
        <form
          nz-form
          [formGroup]="validateForm"
          class="password-form"
          (ngSubmit)="changePassword()"
        >
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzRequired>Old Password</nz-form-label>
              <input
                type="password"
                nz-input
                formControlName="oldPassword"
                placeholder="Old Password"
              />
              <nz-form-explain
                *ngIf="
                  oldPassword.dirty &&
                  oldPassword.errors &&
                  oldPassword.errors.required
                "
                >Please input your old password!
              </nz-form-explain>
              <nz-form-explain
                *ngIf="
                  oldPassword.dirty &&
                  oldPassword.errors &&
                  oldPassword.errors.wrong
                "
                >Old password is wrong, please check again.
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzRequired>New Password</nz-form-label>
              <input
                type="password"
                nz-input
                formControlName="newPassword"
                placeholder="New Password"
              />
              <nz-form-explain
                *ngIf="
                  newPassword.dirty &&
                  newPassword.errors &&
                  newPassword.errors.minlength
                "
                >Minimum password length is 8!
              </nz-form-explain>
              <nz-form-explain
                *ngIf="
                  newPassword.dirty &&
                  newPassword.errors &&
                  newPassword.errors.notNew
                "
                >New password cannot be same as the old password!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzRequired>Confirm New Password</nz-form-label>
              <input
                type="password"
                nz-input
                formControlName="checkPassword"
                placeholder="Confirm your new password"
              />
              <nz-form-explain
                *ngIf="checkPassword.dirty && checkPassword.errors"
                >Passwords not matched!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <button
            nz-button
            [nzType]="'primary'"
            [nzLoading]="isChangingPassword"
          >
            Change Password
          </button>
        </form>
      </nz-content>
      <nz-content *ngSwitchCase="'tools'">
          <nz-table #toolTable [nzData]="myTools" [nzScroll]="{ x: '1000px', y: '800px' }">
              <thead>
                <tr>
                  <th nzWidth="150px">Name</th>
                  <th nzWidth="300px">Categories</th>
                  <th nzWidth="100px">Average Rating</th>
                  <th nzWidth="100px">No. of Rating</th>
                  <th nzWidth="100px">Status</th>
                  <th nzWidth="200px">Publish Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tool of toolTable.data">
                  <td><a [class.disabled]="tool.status===2" href="/tool/{{tool.toolId}}">{{tool.name}}</a></td>
                  <td><span *ngFor="let cat of tool.categories">
                    {{cat.name}}<nz-divider nzType="vertical"></nz-divider>
                  </span>
                  </td>
                  <td>{{tool.averageRating}}</td>
                  <td>{{tool.rateCount}}</td>
                  <td>{{displayToolStatus(tool.status)}}</td>
                  <td>{{displayTime(tool.createTime)}}</td>
                </tr>
              </tbody>
            </nz-table>
      </nz-content>
      <nz-content *ngSwitchCase="'reviews'">
          <nz-table #reviewTable [nzData]="myReviews" [nzScroll]="{ x: '600px', y: '800px' }">
              <thead>
                <tr>
                  <th nzWidth="150px">Title</th>
                  <th nzWidth="150px">Tool</th>
                  <th nzWidth="200px">Publish Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let review of reviewTable.data">
                  <td><a href="/review/{{review.reviewId}}">{{review.title}}</a></td>
                  <td><a href="/tool/{{review.tool.toolId}}">{{review.tool.name}}</a></td>
                  <td>{{displayTime(review.createTime)}}</td>
                </tr>
              </tbody>
            </nz-table>
      </nz-content>
    </nz-content>
  </nz-layout>
</nz-layout>
