<div nz-row>

  <div nz-col nzSpan="12" nzOffset="6">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Tool Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" id="name">
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="12" nzOffset="6">
    <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="htmlContent"></app-ngx-editor>
  </div>
</div>