<h1>
  Privacy Policy
</h1>
<nz-divider></nz-divider>
<p>
  By using EdTech, you agree to the following terms of use and privacy policy.
</p>

<h2>Quality of Service</h2>
<p>
  EdTech application is provided AS IS (in the condition where you find it) and
  WITHOUT ANY WARRANTY. You use EdTech at your own discretion and risk and you
  will be solely responsible for any damages that may arise from such use.
</p>
<h2>
  Changes to the Service
</h2>
<p>
  We provide EdTech free of charges and will constantly work on improving it.
  However, EdTech services may change or be terminated at our discretion.
</p>
<h2>
  Security and Privacy of data
</h2>
<p>
  Our data are stored in NUS servers and are protected by the same security
  mechanisms that protect NUS data. However, you are advised not to store any
  sensitive data such as credit card numbers and passwords in EdTech.
</p>
<h2>
  Use of Cookies
</h2>
<p>
  By accessing or using our application at edtech.comp.nus.edu.sg or edtech.top,
  you consent to EdTech using cookies. Cookies enable EdTech to compile certain
  information about how you use our websites, including information relating to
  the frequency of visits, IP addresses, the average length of visits, periods
  of inactivity. Information held in cookies set by EdTech are kept to a minimum
  and can only be read by EdTech administrators or by someone who has physical
  access to your personal computer. You can turn off the use of cookies at any
  time by changing your specific browser settings, and/or use this opt-out
  browser add-on https://tools.google.com/dlpage/gaoptout.
</p>
<h2>
  How we use Information?
</h2>
<p>
  EdTech may use your information for the following purposes: to improve the
  website performance; to estimate audience size and usage pattern; to enable
  log in and authentication when you log onto our website; to recognize you when
  you return to our website; or to perform the contracted or requested services.
  Submitted information will be used only for the purpose for which you
  submitted it. EdTech does not share this information with any third-party
  organizations or allow it to be used for commercial purposes.
</p>
<nz-divider></nz-divider>
<p>
  This privacy policy is subject to change without notice and was last updated
  on 14 March 2019.
</p>
