<div *ngIf="!isLoginedIn()" class="auth-container">
  <div *ngIf="isMobile">
    <nz-dropdown [nzPlacement]="'bottomRight'">
      <a nz-dropdown>
        <i class="login-icon" nz-icon type="bars" theme="outline"></i>
      </a>
      <ul style="transform: translateY(10px);" nz-menu>
        <li (click)="(openLoginModal)" nz-menu-item>Log in</li>
        <li (click)="openRegisterModal()" nz-menu-item>Register</li>
      </ul>
    </nz-dropdown>
  </div>
  <div *ngIf="!isMobile">
    <button nz-button nzType="primary" (click)="openLoginModal()">
      Log in
    </button>
    <button nz-button nzType="primary" (click)="openRegisterModal()">
      Register
    </button>
  </div>
</div>
<div *ngIf="isLoginedIn()" class="auth-container">
  <nz-dropdown [nzPlacement]="'bottomRight'">
    <a nz-dropdown>
      <nz-avatar nzSize="small" nzIcon="anticon anticon-user">{{
        username
      }}</nz-avatar>
      <div class="username">{{ username }}</div>
      <i nz-icon type="down" theme="outline"></i>
    </a>
    <ul style="transform: translateY(10px)" nz-menu>
      <li nz-menu-item>
        <a routerLink="/publish" routerLinkActive="active">Publish Tool</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/user-center" routerLinkActive="active">User Center</a>
      </li>
      <li nz-menu-item>
        <a (click)="logout()">Log out</a>
      </li>
    </ul>
  </nz-dropdown>
</div>
