.logo {
    width: 120px;
    float: left;
    vertical-align: middle;
    line-height: 64px;
    cursor: pointer;
}
.logo img {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .logo img {
        width: 90px;
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 800px;
    position: relative;
}
.clickable:hover{
    color: white;
}

.user-panel {
    float: right;
}
.footer-item {
    margin-left: 8px;
    margin-right: 8px;
    color: rgba(255,255,255,0.65);
}