<nz-layout class="layout">
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="2">
        <div class="logo">EduTool</div>
      </div>
      <div nz-col nzSpan="16">
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
          <li nz-menu-item>AAAAA</li>
          <li nz-menu-item>BBBBB</li>
          <li nz-menu-item>CCCCC</li>
        </ul>
      </div>
      <div nz-col nzSpan="6">
        <app-user-nav></app-user-nav>
      </div>
    </div>
  </nz-header>
  <nz-content style="padding:0 50px">
  </nz-content>
  <nz-footer style="text-align: center;">Footer</nz-footer>
</nz-layout>