.logo {
    width: 120px;
    float: left;
    margin-right: 20px;
    vertical-align: middle;
    line-height: 64px;
}
.logo img {
    width: 100%;
}
.loginButtonGroup {
    line-height: 64px;
    float: right;
}