<div nz-row>
  <div nz-col nzXs="0" nzSm="0" nzMd="6" nzLg="6" nzXl="6">
    <nz-steps [nzCurrent]="step" nzDirection="vertical">
      <nz-step nzTitle="Verify email"></nz-step>
      <nz-step nzTitle="Set new password"></nz-step>
      <nz-step nzTitle="Done"></nz-step>
    </nz-steps>
  </div>
  <div
    nz-col
    [nzXs]="{ offset: 1, span: 22 }"
    [nzSm]="{ offset: 1, span: 22 }"
    [nzMd]="{ offset: 1, span: 16 }"
    [nzLg]="{ offset: 2, span: 12 }"
    [nzXl]="{ offset: 4, span: 10 }"
  >
    <div *ngIf="step === 0">
      <form nz-form [formGroup]="firstStepForm" (ngSubmit)="verificationCode()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <nz-form-label nzRequired>Registered Email</nz-form-label>
              <input
                type="text"
                (keyup)="resetMessage()"
                nz-input
                formControlName="email"
                placeholder="Email"
              />
            </nz-input-group>
            <nz-form-explain *ngIf="email.dirty && email.errors"
              >Please input your email
            </nz-form-explain>
            <nz-form-explain *ngIf="message"
              >{{ message }}
            </nz-form-explain>
            <button
              nz-button
              type="button"
              [nzType]="'primary'"
              [nzLoading]="isSendingCode"
              (click)="sendCode()"
              [disabled]="!email.dirty || email.errors || isSendingEmail"
            >
              Get Code
            </button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzRequired>Verification Code</nz-form-label>
            <nz-input-group>
              <input
                type="password"
                nz-input
                formControlName="verification"
                placeholder="Verification Code"
              />
            </nz-input-group>
            <nz-form-explain *ngIf="verification.dirty && verification.errors"
              >Please provide the verification code we sent to your email
            </nz-form-explain>
            <nz-form-explain *ngIf="verificationError" style="color: red">
                {{ verificationError }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="login-form-button"
          [nzType]="'primary'"
          [nzLoading]="isVerifying"
          [disabled]="isVerifyingCode"
        >
          Verify
        </button>
      </form>
    </div>
    <div *ngIf="step === 1">
      <form nz-form [formGroup]="secondStepForm" (ngSubmit)="changePassword()">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzRequired>New Password</nz-form-label>
            <input
              type="password"
              nz-input
              formControlName="newPassword"
              placeholder="New Password"
            />
            <nz-form-explain
              *ngIf="
                newPassword.dirty &&
                newPassword.errors &&
                newPassword.errors.minlength
              "
              >Minimum password length is 8!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzRequired>Confirm New Password</nz-form-label>
            <input
              type="password"
              nz-input
              formControlName="checkPassword"
              placeholder="Confirm your new password"
            />
            <nz-form-explain *ngIf="checkPassword.dirty && checkPassword.errors"
              >Passwords not matched!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <button nz-button [nzType]="'primary'" [nzLoading]="isChangingPassword">
          Set Password
        </button>
      </form>
    </div>
    <div *ngIf="step === 2" style="margin-top: 50px; font-size: 150%">
        <i nz-icon type="check" theme="outline"></i> Your password has been changed successfully!
    </div>
  </div>
</div>
