<div nz-row>
  <nz-list
    [nzBordered]="true"
    [nzDataSource]="data"
    [nzItemLayout]="'vertical'"
    [nzRenderItem]="item"
  >
    <ng-template #item let-item>
      <nz-list-item
        class="item"
        [routerLink]="['/tool/', item.toolId]"
        [nzContent]="rating"
        [nzActions]="[categories]"
        [nzExtra]="image"
      >
        <ng-template #categories>
          <nz-tag *ngFor="let cat of item.categories">
            {{ cat.name }}
          </nz-tag>
        </ng-template>
        <nz-list-item-meta
          [nzTitle]="item.name"
          [nzDescription]="item.description"
        >
        </nz-list-item-meta>
        <ng-template style="float: right;" #image>
          <img
            class="item_img"
            onError="this.src='assets/img-not-available.jpg';"
            alt="loading"
            [src]="getImagePath(item.images[0])"
          />
        </ng-template>
        <ng-template #rating>
          <bar-rating
            *ngIf="item.averageRating"
            [theme]="'fontawesome-o'"
            [(rate)]="item.averageRating"
            [max]="5"
            [readOnly]="true"
          ></bar-rating>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
