<h1>About Us</h1>
<nz-divider></nz-divider>
<h2>The Team</h2>
<h3>
  Product Owner: Dr.Anand Bhojan [<a
    href="https://www.comp.nus.edu.sg/cs/bio/bhojan/"
    >Profile</a
  >]
</h3>
<h3>
  Developer: Sheng Xuan [<a href="https://github.com/Sheng-Xuan/">Github</a>][<a
    href="https://www.linkedin.com/in/xuan-sheng-881bbb13a/"
    >Linkedin</a
  >]
</h3>
<nz-divider></nz-divider>
<h2>This Website</h2>
<h3>
  This project is initiated by <i>Dr.Anand Bhojan</i> from Nation University of
  Singapore. It is designed and developed by <i>Sheng Xuan</i> as Final Year
  Project. You may find the open source code of this project
  <a href="https://github.com/Sheng-Xuan/EdTech">here</a>. We always welcome
  contributions to help make EdTech better through issues and pull requests.
</h3>
