<h2 style="text-align: center">EdTech Admin Dashboard</h2>
<nz-layout>
  <nz-sider [(nzCollapsed)]="isRightPanelCollapsed" style="background:#fff">
    <ul
      nz-menu
      [nzInlineCollapsed]="isRightPanelCollapsed"
      [nzMode]="'inline'"
      style="height:100%"
    >
      <li nz-menu-item [nzSelected]="true" (click)="setTable('users')">
        <span title
          ><i nz-icon type="user"></i><span class="nav-text">Users</span></span
        >
      </li>
      <li nz-menu-item (click)="setTable('tools')">
        <span title
          ><i nz-icon type="laptop"></i
          ><span class="nav-text">Tools</span></span
        >
      </li>
      <li nz-menu-item (click)="setTable('categories')">
        <span title
          ><i nz-icon nzType="ordered-list"></i
          ><span class="nav-text">Categories</span></span
        >
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="margin-left: 5px">
    <nz-content style="overflow: initial; background:#fff">
      <!-- User table -->
      <nz-table
        *ngIf="currentTable === 'users'"
        #userTable
        [nzData]="displayedUsers"
        [nzScroll]="{ x: '1250px', y: '800px' }"
      >
        <thead>
          <tr>
            <th
              nzShowSort
              [(nzSort)]="sortMap.userId"
              (nzSortChange)="sort('userId', $event)"
              nzWidth="100px"
            >
              UserId
            </th>
            <th nzCustomFilter nzWidth="150px">
              Username
              <nz-dropdown
                nzTrigger="click"
                [nzPlacement]="'bottomRight'"
                [nzClickHide]="false"
                #dropdown
              >
                <i
                  nz-icon
                  type="search"
                  class="ant-table-filter-icon"
                  [class.ant-table-filter-open]="dropdown.nzVisible"
                  nz-dropdown
                ></i>
                <div class="custom-filter-dropdown">
                  <input
                    type="text"
                    nz-input
                    placeholder="Search name"
                    [(ngModel)]="searchUsername"
                  />
                  <button
                    nz-button
                    [nzType]="'primary'"
                    (click)="
                      searchUsers(filterUserGroupList, filterUserStatusList)
                    "
                  >
                    Search
                  </button>
                </div>
              </nz-dropdown>
            </th>
            <th nzWidth="200px">Email</th>
            <th
              nzWidth="100px"
              nzShowFilter
              [nzFilters]="userGroupList"
              (nzFilterChange)="searchUsers($event, filterUserStatusList)"
            >
              Group
            </th>
            <th
              nzWidth="100px"
              nzShowFilter
              [nzFilters]="userStatusList"
              (nzFilterChange)="searchUsers(filterUserGroupList, $event)"
            >
              Status
            </th>
            <th
              nzWidth="200px"
              nzShowSort
              [(nzSort)]="sortMap.registerTime"
              (nzSortChange)="sort('registerTime', $event)"
            >
              Register Time
            </th>
            <th nzWidth="350px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userTable.data">
            <td>{{ user.userId }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ displayGroup(user.isAdmin) }}</td>
            <td>{{ displayUserStatus(user.status) }}</td>
            <td>{{ displayTime(user.registerTime) }}</td>
            <td>
              <nz-button-group>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeUserGroup(user.userId, true)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="!user.isAdmin"
                    nz-button
                    nzType="default"
                  >
                    To Admin
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeUserGroup(user.userId, false)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="user.isAdmin"
                    nz-button
                    nzType="default"
                  >
                    To Member
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeUserStatus(user.userId, 2)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="user.status != 2"
                    nz-button
                    nzType="default"
                  >
                    Block
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeUserStatus(user.userId, 0)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="user.status != 0"
                    nz-button
                    nzType="default"
                  >
                    To Normal
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeUserStatus(user.userId, 1)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="user.status != 1"
                    nz-button
                    nzType="default"
                  >
                    To Pending
                  </button>
                </nz-popconfirm>
              </nz-button-group>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <!-- Tools table -->
      <nz-table
        *ngIf="currentTable === 'tools'"
        #toolTable
        [nzData]="displayedTools"
        [nzScroll]="{ x: '1350px', y: '800px' }"
      >
        <thead>
          <tr>
            <th
              nzShowSort
              [(nzSort)]="sortMap.userId"
              (nzSortChange)="sort('userId', $event)"
              nzWidth="100px"
            >
              ToolId
            </th>
            <th nzCustomFilter nzWidth="150px">
              Name
              <nz-dropdown
                nzTrigger="click"
                [nzPlacement]="'bottomRight'"
                [nzClickHide]="false"
                #dropdown
              >
                <i
                  nz-icon
                  type="search"
                  class="ant-table-filter-icon"
                  [class.ant-table-filter-open]="dropdown.nzVisible"
                  nz-dropdown
                ></i>
                <div class="custom-filter-dropdown">
                  <input
                    type="text"
                    nz-input
                    placeholder="Search name"
                    [(ngModel)]="searchToolName"
                  />
                  <button
                    nz-button
                    [nzType]="'primary'"
                    (click)="searchTools(filterToolStatusList)"
                  >
                    Search
                  </button>
                </div>
              </nz-dropdown>
            </th>
            <th
              nzShowSort
              [(nzSort)]="sortMap.recommended"
              (nzSortChange)="sort('recommended', $event)"
              nzWidth="150px"
            >
              Recommended
            </th>
            <th
              nzShowSort
              [(nzSort)]="sortMap.rateCount"
              (nzSortChange)="sort('rateCount', $event)"
              nzWidth="100px"
            >
              Rate Count
            </th>
            <th
              nzShowSort
              [(nzSort)]="sortMap.avgRating"
              (nzSortChange)="sort('avgRating', $event)"
              nzWidth="100px"
            >
              Average Rating
            </th>
            <th
              nzShowFilter
              [nzFilters]="toolStatusList"
              (nzFilterChange)="searchTools($event)"
              nzWidth="100px"
            >
              Status
            </th>
            <th
              nzShowSort
              [(nzSort)]="sortMap.registerTime"
              (nzSortChange)="sort('registerTime', $event)"
              nzWidth="200px"
            >
              Create Time
            </th>
            <th nzWidth="350px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tool of toolTable.data">
            <td>{{ tool.toolId }}</td>
            <td>
              <a (click)="openToolPage(tool.toolId)">{{ tool.name }}</a>
            </td>
            <td>{{ tool.recommended }}</td>
            <td>{{ tool.rateCount }}</td>
            <td>{{ tool.averageRating }}</td>
            <td>{{ displayToolStatus(tool.status) }}</td>
            <td>{{ displayTime(tool.createTime) }}</td>
            <td>
              <nz-button-group>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeToolStatus(tool.toolId, 2)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="tool.status != 2"
                    nz-button
                    nzType="default"
                  >
                    Delete
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeToolStatus(tool.toolId, 0)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="tool.status != 0"
                    nz-button
                    nzType="default"
                  >
                    To Normal
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeToolStatus(tool.toolId, 1)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="tool.status != 1"
                    nz-button
                    nzType="default"
                  >
                    To Pending
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeToolRecommend(tool.toolId, false)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="tool.recommended == true"
                    nz-button
                    nzType="default"
                  >
                    Unrecommend
                  </button>
                </nz-popconfirm>
                <nz-popconfirm
                  [nzTitle]="'Confirm?'"
                  (nzOnConfirm)="changeToolRecommend(tool.toolId, true)"
                >
                  <button
                    nz-popconfirm
                    *ngIf="tool.recommended == false"
                    nz-button
                    nzType="default"
                  >
                    Recommend
                  </button>
                </nz-popconfirm>
              </nz-button-group>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- Categories Table -->
      <input type="text" nz-input class="new-cat" placeholder="new category name" [(ngModel)]="newCatName"/>
      <button nz-button nzType="primary" nzSize="small" [disabled]="!newCatName" (click)="addCategory()">Add New Category</button>
      
      <nz-table
        *ngIf="currentTable === 'categories'"
        #catTable
        [nzData]="displayedCategories"
        [nzScroll]="{ x: '800px', y: '800px' }"
      >
        <thead>
          <tr>
            <th nzWidth="50px">
              Id
            </th>
            <th nzCustomFilter nzWidth="150px">
              Category Name
            </th>
            <th nzWidth="100px">No.of Tools</th>
            <th nzWidth="100px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of catTable.data">
            <td>{{ cat.id }}</td>
            <td>{{ cat.name }}</td>
            <td>{{ cat.count }}</td>
            <td>
              <nz-popconfirm
                [nzTitle]="'Confirm?'"
                (nzOnConfirm)="deleteCategory(cat.id)"
              >
                <button
                  nz-popconfirm
                  [disabled]="cat.count > 0"
                  nz-button
                  nzType="default"
                >
                  Delete
                </button>
              </nz-popconfirm>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
</nz-layout>
